*:not(#imgFrame) {
    justify-content: center;
    margin: 0 auto;
    display: block;
}


button {    
    width: 200px;
    height: 50px;
    font-size: 2em;
    color: red;
}

div {
    background-color: black; /* צבע ברירת מחדל לרקע של המסגרת של התמונה */
}


#imgFrame {
    justify-content: center;
    margin-left: 345px;
    display: inline-block;
    padding: 8px;
    background-color: #ccc;
    border-radius: 10px;
}