* {
    text-align: center;
    align-items: center;
    justify-content: center;
}

body {
    height: 55em;
    margin: 0;
    padding: 0;
    display: flex;
    height: 55em;
    background-color: #20c243;
}


h1 {
    margin-bottom: 30px;
}

td {
    background-color: rgba(177, 176, 176, 0.836);
    border: 1px solid #ddd;
    padding: 15px;
}

button {
    width: 100px;
    height: 40px;
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, bold;
    cursor: pointer;

    color: white;
    background-color: rgba(173, 113, 1, 0.829);
    border: 2px solid black;
    border-radius: 30px;
}

#container {
    width: 400px;
    padding: 20px;
    background-color:   #f7e22d;
    border: 2px solid #000;

    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif
}


#board {
    display: flex;
    flex-direction: column;
}

#guess {
    width: 150px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}


#reset {
    height: 2em;
    width: 5em;

    background-color: crimson;
    margin: 10px;
}