button {
    padding: 20px 50px;
    background-color: #06e006de;
    color: white;
    font-size: 1.5em;
}

button:hover {
    background-color: #04d104;
    color: yellow;
    transition: transform 0.1s ease-in;
    transform: scale(1.05);
}


#num1, #num2 {
    color: blue;
}

#wins {
    color: lime;
}

#fails {
    color: red;
}

img {
    width: 300px;
    height: 300px;
}