* {
    cursor: default;
    text-align: center;
    font-size: 1.15em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    justify-content: center;

}

#title {
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 30px;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 0px 60px;
    background-color: #aacdb1;
    font-size: 1.5em;
}

#board button {
    width: 100px;;
    height: 100px;
    margin: 10px;
    border: 0px solid rgb(180, 175, 175);
    border-radius: 25%;
    background-color: #ffffa5;
}


button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#restartBtn {
    width: 5em;;
    height: 2em;
    margin: 10px;
    font-size: 1.5em;
    border-radius: 15%;
}

marquee {
    position: fixed;
    bottom: 5em;
    right: 0;

    text-align: initial;
    font-size: 1.2em;
    background-color: blue;
    color: white;
}



