body {
    width: 50%;
    margin-left: 30em;
}


a {
    padding: 20px;
    font-size: 1.5em;
    font-weight: bolder;
}

button {
    display: row;
    padding: 10px 20px;
    color: black;
    font-size: 0.9em;
}


h1 {
    margin-left: 3.6em;
}

p {
    text-align: center;
    margin-right: 20em;
}

button:hover {
    background-color: #dddddd;
    transition: transform 0.1s ease-in;
    transform: scale(1.05);
}


#answerField {
    text-align: center;
    margin-left: 5.5em;
}


marquee {
    position: fixed;
    bottom: 5em;
    background-color: blue;
    color: white;
    font-weight: bold;  
    margin-right: 30em;
}