body {
    background-color: rgb(12, 186, 199);
}

h1 {
    text-align: center;
    margin: 0 auto;
}

table {
    border: solid 3px black;
    background-color: white;
    margin: 0 auto;
}

img {
    border: solid;
    border-radius: 50%;
    border-color: black;
    width: 300px;
    height: 250px;
    padding: 20px;
    background-color: white;
}


p {
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
    font-weight: bold;
}



marquee {
    background-color: white;
    border: dashed black;
    font-size: 50px;    
    scroll-behavior: p;
}

.container {
    border: solid black 5px;
    background-color: white;
    border-radius: 15px;
}


.inline {
    display: inline-block;
}


