button {
    display: block;
    margin: 10px;
    padding: 1.2em;
    width: 10em;
}


input {
    margin: 10px;
    color: red;
    font-size: 25px;
}


marquee {
    bottom: 1.5em;;
    position: fixed;

    background-color: blue;
    color: white;
}